<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>
   
  <!-- <div class="jumbotron">
    <h1 class="display-4">Welcome to <%= title %> page</h1>
  </div> -->

  <style>
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  /* background-color: #cafcc5; */
  color: #082a1c;
  padding: 20px;
  text-align: center;
  font-family: monospace;
}

h1 {
  margin: 0;
}

p{
  text-align: justify;
}

main {
  max-width: 800px;
  margin: 20px auto;
  padding: 0 20px;
}

section {
  margin-bottom: 50px;
}

h2 {
  color: #56bb1c;
}

ul {
  padding-left: 20px;
}

.grid-container{
    display: grid;
    place-items: center;
    margin-left:10% ;
    margin-right:10% ;
    grid-row-gap: 10px;
  }
  
.profile_pic{
  max-width: 300px;
  height: 300px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;

  
  }

  .image-cropper {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}
.text{
  grid-row: inherit;
  text-align: justify;
}

td{
  padding: 5px;
}
  </style>

  <main>
    <body>
      <header>
        <h1>About Me</h1>
      </header>

      <div class="grid-container">
        <div class="text">
          <p>I'm currently on a journey of transitioning to a new career path. The past four years were an incredible learning experience as a chemical process engineer.
             Through this role, I've developed my analytical skills, learned various unit operations, calculations, and process flowcharts. However, I have decided to pursue my passion for software development and make a career change. I am excited to see where this new path takes me and look forward to all the opportunities that lie ahead. </p>
       </div>

        <div class="image-cropper">
          <img src="/img/IMG_3042.jpeg" alt = "profile_pic" class="profile_pic">
        </div>
      </div>


      <section>
        <h2>Mission</h2>
          <p class="mission">I truly believe in the power of technology to make our world a better place. As a software engineer, I'm passionate about using my technical skills and creative problem-solving abilities to address some of society's most pressing issues.</p>
      </section>
    

      <section>
        <h2>Experience and Education</h2>
          <table>
            <tr>
              <td><h5>Federal University of Sao Paulo (2013-2020)</h5></td>

            </tr>
            <tr style="border-bottom:1px solid black">
              <td>Bachelor of Chemical Engineer</td>
            </tr>
              
            <tr >
              <td><h5>Promon Engenharia (2018 - 2022)</h5></td>
            </tr>
            <tr style="border-bottom:1px solid black">
              <td>Process Engineer</td>
            </tr>
            
            <tr >
              <td><h5>Centennial College (2022 - 2023)</h5></td>
            </tr>
            <tr>
              <td>Software Engineer Technician</td>
            </tr>
          </table>
      </section>
    
      <section>
        <h2>Skills</h2>
        <ul>
          <li>HTML</li>
          <li>CSS</li>
          <li>JavaScript</li>
          <li>C#</li>
          <li>Oracle SQL</li>
          <li>Java</li>
        </ul>
      </section>
    
      <section>
        <h2>Resume</h2>
        <a href="/Assets/Resume_TatianaKawaguti.pdf"><i class="fa-solid fa-file fa-lg" alt = "resume"></i></a>
      </section>

  </main>
</body>

<!--script section-->
<%- include ('partials/bottom_nav.ejs') %>
<%- include ('partials/footer.ejs') %>
   